<section id="contact">
    <div class="container mb-5">
        <h2><strong >{{'contact.contactMe' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row"  data-aos="fade-up"
        data-aos-anchor-placement="top-center">
            <div class="col-md-9">
              <div class="contact mar_bot">
                <div class="form-group">
                  <div class="contact-info-item row">
                    <div class="div_img">
                      <img src="assets/images/email.png" alt="logo_email" />
                    </div>
                    <div>
                      <h6>Email</h6>
                      <p>
                          <a href="mailto: chautardco@cy-tech.fr">
                            chautardco@cy-tech.fr
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="contact-info-item row">
                    <div class="div_img">
                      <img src="assets/images/In-Blue-96@2x.png" alt="logo_linkedIn" />
                    </div>
                    <div>
                      <h6>LinkedIn</h6>
                      <p>
                          <a href="https://www.linkedin.com/in/corentin-chautard">
                          CHAUTARD Corentin
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="contact-info-item row">
                    <div class="div_img">
                      <img src="assets/images/github-mark.png" alt="logo_github" />
                    </div>
                    <div>
                      <h6>GitHub</h6>
                      <p>
                          <a href="https://github.com/Tarchaud">
                          Tarchaud
                          </a>
                      </p>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
